.feedback
  background-color #fbfbfb
  position relative
  overflow hidden
  .figures
    +to-width(1600px)
      display none

  .registration
    box-shadow 0 1px 25px 2px rgba(194, 194, 194, 0.4)

  &-form
    margin-top 50px
    display flex
    flex-direction column
    align-items center

    .registration__btn
      margin-top 20px
