.partners
  padding-top 150px
  +to-width(420px)
    padding-top 130px

  &-content
    h3
      font-size 24px
      font-weight 700
      line-height 36px
      margin-top 20px
      padding-bottom 24px
      +to-width(420px)
        font-size 20px
        line-height 30px

    p
      font-size 18px
      font-weight 400
      line-height 30px
      padding-bottom 24px
      +to-width(640px)
        font-size 16px
        line-height 26px

    ul
      li
        font-size 18px
        font-weight 400
        line-height 38px
        +to-width(640px)
          font-size 16px
          line-height 30px
        span
          color #fbb040
          margin-right 8px
