section.whatsapp
  .wrap
    h2.section-title Преимущества WhatsApp рассылки
    //- p.section-text Скачав программу FreeSender для компьютера под Windows <br> вы сможете:
    .whatsapp-body
      .whatsapp-mobile
        img(src="assets/images/whats-mobile.png")
        
      ul.sms-list
        li Рассылки WhatsApp - это возможность массово отравлять мультимедийные сообщения клиентам вашего бизнеса.
        li В России насчитывается более 40 млн активных пользователей мессенджера - это более 60% от абонентов сотовой связи.
        li В отличии от традиционных SMS, вы можете отправлять вместе с текстом: картинки, видео и аудио-файлы, ссылки, гео-метки и прочие вложения. В одном сообщении вы можете уместить 1000 символов текста, включая имодзи.
    
  .figures
    img(src="assets/images/figures.svg").figures__item
    img(src="assets/images/figures.svg").figures__item
