section.features
  .wrap
    h2.section-title Преимущества программы APISender
    p.section-text Скачайте бесплатно программу APISender и получите <br>следующие возможности: 
    .features-body
      .features-item
        .features-item__container
          .features-item__icon
            img(src="assets/images/icon-message.svg")
          p.features-item__text Бесплатно рассылать SMS и WhatsApp сообщения
      .features-item
        .features-item__container
          .features-item__icon
            img(src="assets/images/icon-chat.svg")
          p.features-item__text Получать ответные сообщения от абонентов
      .features-item
        .features-item__container
          .features-item__icon
            img(src="assets/images/icon-bd.svg")
          p.features-item__text Безопасно хранить и пополнять базу клиентов
      .features-item
        .features-item__container
          .features-item__icon
            img(src="assets/images/icon-profile.svg")
          p.features-item__text Использовать несколько собственных аккаунтов WhatsApp одновременно
      .features-item
        .features-item__container
          .features-item__icon
            img(src="assets/images/icon-desktop.svg")
          p.features-item__text Подключить несколько usb-модемов и отправлять SMS с компьютера 
    
  .figures
    img(src="assets/images/figures.svg").figures__item
    img(src="assets/images/figures.svg").figures__item
