footer.footer
  .wrap
    a(href="/").footer-logo
      img(src="assets/images/logo.svg")
    .footer-main
      .footer-item
        p.footer-item__title О нас
        ul.footer-list
          li.footer-list__item
            a(href="#") WhatsApp рассылка
          li.footer-list__item
            a(href="#") СМС рассылка
      .footer-item
        p.footer-item__title Инструкции
        ul.footer-list
          li.footer-list__item
            a(href="#") Установка программы
          li.footer-list__item
            a(href="#") Подключение аккаунта WA
          li.footer-list__item
            a(href="#") Подключение модема и сим-карты
          li.footer-list__item
            a(href="#") Как избежать блокировки WhatsApp
          li.footer-list__item
            a(href="#") Как избежать блокировки сим-карты
      .footer-item
        p.footer-item__title Помощь
        ul.footer-list
          li.footer-list__item
            a(href="#") Вконтакте
          li.footer-list__item
            a(href="#") Facebook
          li.footer-list__item
            a(href="#") Youtube
          li.footer-list__item
            a(href="#") WhatsApp
      .footer-item
        p.footer-item__title О компании
        ul.footer-list
          li.footer-list__item
            a(href="#") Карта сайта
          li.footer-list__item
            a(href="#") Политика конфиденциальности
          li.footer-list__item
            a(href="#") Договор оферта
    
    .footer-bottom
      p.footer-info APIsender © 2019
