header.header.header-duble.white
  .wrap
    a(href="/").header-logo
      img(src="assets/images/logo-b.svg" alt="APIsender logo")
    
    nav.nav
      ul.nav-list
        li.nav-list__item.active
          a(href="/") О программе
        li.nav-list__item
          a(href="whatsapp.html") WhatsApp Рассылки
        li.nav-list__item
          a(href="sms.html") SMS Рассылки
        li.nav-list__item
          a(href="#") Wiki
        li.nav-list__item
          a(href="support.html") Поддержка
        li.nav-list__item
          a(href="partners.html") Партнерам
    
    .header__button.popopen
      p Войти
    
    .header-gamburger
      .header-gamburger__item
      .header-gamburger__item
      .header-gamburger__item
  

    
    
    
