section.partners
  .wrap
    h2.section-title Партнерская программа

    .partners-content
      h3 Реферальная программа
      p Мы готовы делиться частью своей прибыли на условиях партнерства. Для этого вам необходимо заполнить простую форму, расположенную ниже и в поле "Промокод" указать слово Партнер. В ответ вам придет реферальная ссылка. От всех платежей совершенных клиентами, которые зарегистрируются по этой ссылке вы будете получать 20%
      h3 Программа для реселлеров
      p Для партнеров, желающих построить самостоятельный бизнес на продаже программы FreeSender мы готовы предоставить полный или частичный пакет решений "под ключ":
      ul
        li <span>—</span> отдельный сайт для продажи программы FreeSender с многоязычной поддержкой
        li <span>—</span> возможность подключать своих рефералов
        li <span>—</span> специальная цена на программу FreeSender для возможности реализации собственной ценовой политики
        li <span>—</span> настройка корпоративной почты
        li <span>—</span> настройка корпоративной виртуальной телефонии
        li <span>—</span> настройка аккаунта в системе amoCRM для лидогенерации и обслуживания заявок
        li <span>—</span> настройка HelpDesk для поддержки клиентов
        li <span>—</span> настройка аккаунтов в соц-сетях
        li <span>—</span> настройка чат-ботов в мессенджерах
        li <span>—</span> настройка рекламных и пр. компаний по привлечению новых клиентов
