section.programs
  .wrap
    h2.section-title Программа для рассылки на <br>Android и Windows
    p.section-text Выполните три простых шага, чтобы начать пользоваться сервисом бесплатной рассылки Freesender!
    .programs-body
      .programs-item
        h3.programs-item__title Программа для рассылки SMS и WhatsApp на Windows
        .programs-content
          ul
            li - использовать несколько собственных аккаунтов WhatsApp одновременно
            li - подключить несколько usb-модемов к компьютеру и отправлять через них SMS
        img(src="assets/images/program-desk.jpg")
      .programs-item
        h3.programs-item__title Приложение для рассылки SMS на Android
        .programs-content
          p Приложение для рассылки SMS на Android не требует подключения к компьютеру, т.к. взаимодействует с платформой напрямую.
          ul
            li - отправить только SMS через один или несколько подключенных смартфонов на Android
            li - разослать СМС через смартфоны, поддерживающие 2 сим-карты
        img(src="assets/images/program-mob.jpg")
    
    .registration__btn
      .registration__button Зарегистрироваться
