section.start
  .wrap
    h2.section-title Начать пользоваться в 3 клика
    p.section-text Выполните три простых шага, чтобы начать пользоваться <br>сервисом бесплатной рассылки APIsender!
    
    .start-body
      .start-item
        .start-item__icon
          img(src="assets/images/try-plus.svg")
        h4.start-item__title Зарегистрироваться
        p.start-item__text Зарегистрируйтесь на нашей платформе FreeSender по ссылке ниже
        a(href="#").start-item__button
          p Зарегистрироваться
      .start-arrow
        img(src="assets/images/icon-arrow.svg")
      .start-item
        .start-item__icon
          img(src="assets/images/try-cloud.png")
        h4.start-item__title Скачать программу
        p.start-item__text Установите на свой компьютер c ОС Windows программу FreeSender
        a(href="#").start-item__button
          p Скачать
      .start-arrow
        img(src="assets/images/icon-arrow.svg")
      .start-item
        .start-item__icon
          img(src="assets/images/try-lock.png")
        h4.start-item__title Авторизоваться
        p.start-item__text Авторизуйтесь при помощи логина и пароля, полученного при регистрации
        a(href="#").start-item__button
          p Авторизоваться
            
