section.support
  .wrap
    h2.section-title Инструкции
    .support-body
      a(href="#").support-item
        img(src="assets/images/icon-gear.svg")
        p Установка
      a(href="#").support-item.green
        img(src="assets/images/icon-up.svg")
        p Обновления
      a(href="#").support-item.orange
        img(src="assets/images/icon-pay.svg")
        p Оплата
      a(href="#").support-item.violet
        img(src="assets/images/icon-whats.svg")
        p Подключить WhatsApp
      a(href="#").support-item.red
        img(src="assets/images/icon-router.svg")
        p Подключить модем
      a(href="#").support-item
        img(src="assets/images/icon-send.svg")
        p Отправка WhatsApp
      a(href="#").support-item.green
        img(src="assets/images/icon-mess.svg")
        p Отправка СМС
      a(href="#").support-item.orange
        img(src="assets/images/icon-list.svg")
        p Отчет об отправках
    
    p.support-text Ответы на остальные вопросы вы можете узнать в 
      a(href="#") нашем блоге
