section.tariffs
  .wrap
    h2.section-title Тарифы
    p.section-text Выполните три простых шага, чтобы начать пользоваться <br>сервисом бесплатной рассылки APIsender!
    
    table.tariffs-table
      tr
        th
        th WhatsApp
        th SMS
      tr
        td Скачивание и установка программы
        td Бесплатно
        td Бесплатно
      tr
        td Абонентская плата
        td.bold 790 руб.
        td.bold 240 руб.
      tr
        td Стоимость за 1 отправленное сообщение
        td -
        td -
      tr
        td 1-2999
        td 0,49 руб.
        td 0,29 руб.
      tr
        td 3000-9999
        td 0,39 руб.
        td 0,25 руб.
      tr
        td 10000-100000
        td 0,34 руб.
        td 0,22 руб.
      tr
        td Свыше 100000
        td 0,22 руб.
        td 0,19 руб.
      tr
        td Подключение ПО заказчика к ПО по API
        td Бесплатно
        td Бесплатно
    
    .registration__btn
      .registration__button Зарегистрироваться


            
