section.welcome(style="background-image: url('assets/images/welcome-bg.jpg');")
  .wrap
    .welcome-content
      h1.welcome-title Как работает WhatsApp рассылка
      p Рассылка WhatsApp сообщений бесплатно с помощью программы FreeSender.
      p Легкая установка, быстрый запуск, возможность использования нескольких аккаунтов мессенджера, делают программу незаменимой для массовых рассылок по базе клиентов.
      p Программа FreeSender позволяет не только отправлять, но и получать сообщения от ваших клиентов.
    
    .welcome-form
      form.registration
        input.registration__input(type="text" placeholder="Имя" name="username" required)
        input.registration__input.input-phone(type="text" name="phone" placeholder="+7 (___) ___ - __ - __" required)
        input.registration__input(type="email" name="email" placeholder="E-mail" required)
        input.registration__input(type="text" name="promo" placeholder="Промокод")
        .registration-info
          a(href="#").registration-info__login Войти
          a(href="#").registration-info__forget Забыли пароль?
        .checkbox
          label(class="toggleButton")
            input(type="checkbox" name="policy" required)
            div
              svg(viewBox="0 0 44 44")
                path(d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758" transform="translate(-2.000000, -2.000000)")
            p Я ознакомился с 
              a(href="#") пользовательским соглашением
        .registration__btn
          input(type="submit" value="Зарегистрироваться").registration__button
