extends ../layouts/default

block head

block content
	include ../blocks/header-white
	include ../blocks/popup
	main.main
		include ../blocks/support
		include ../blocks/feedback
	include ../blocks/footer

	+script('common.min')
	+script('jquery-inputmask')
	+script('main')
